.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.cells{
  margin-left: 41vh;
  margin-top: 6vh;
}

.about{
  margin-left: 23vh;
} 

.container{
  display: flex;
  background: #292d35;
  color: white;
  flex-direction: column;
}
  

button{
  margin: 0.5%;
}

span{
  margin: 2vh; 
}