.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  color: white;
}

.cells{
  margin-left: 41vh;
  margin-top: 10vh;
}

.about{
  margin-left: 23vh;
} 

.container{
  display: flex;
  background: #292d35;
  color: white;
  flex-direction: column;
}
  



