.App {
  text-align: center;
  display:flex;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.cells{
  margin-left: 13vh;
  margin-right: 7vh;
  margin-top: 6vh;
}


.container{
  display: flex;
  background: #292d35;
  color: white;
  flex-direction: column;
}

.about{
  margin-top: 6vh; 
  margin-right: 4%; 
}

button{
  margin: 0.5%;
}

span{
  margin: 2vh; 
}

p{
  padding: 0% 12% 2% 13%;
  margin: 0% 8% 0% 8%;
}